.img-logo-clients{
    width: 150px;
    background-color: aliceblue;
    border-radius: 25%;
    margin: 10px;
}
.logo-fit{
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.logo-fit2{
    display: block;
    margin-top: 25%;
    margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}